body {
  padding: 10px 100px 10px 100px
}

.font40{
  font-size: 40px;
  background-color: #000080;
  color: #ffffff;
}

.font20{
  font-size: 20px;
  color: #000080;
}

.font30{
  font-size: 30px;
}
